/*********************************
Autor: Cristian Vizcaino
Fecha creación: 12/01/2015
Última modificación: 06/02/2015
Versión: 1.00
***********************************/
#zonaJuego
{
    margin:0;
    padding: 0;
    width: auto;
    height: auto;
}
#menu
{
    margin-top: 350px;
}
#carton
{
    margin: 250px auto;
    background: #38a8e1;
    height: 230px;
    width: 560px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0px 4px #009de4, 0px 10px 15px rgba(0, 0, 0, 0.2);

}




.fila
{
    float: left;
    box-sizing: border-box;
   
}
#valor
{
    width: 70px;
}

.casilla
{
    background: #ffffff;
    float: left;
    height: 50px;
    width: 50px;
    margin: 5px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    color: #000000;
    line-height: 36px;
    text-align: center;
    transition: all 0.2s ease;/* Animacion para el cambio entre normal y active y para el hover*/
}

#bombo
{
    margin: 0 auto;
    background: #28b3ff;
    height: 80px;
    width: 95px;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0px 4px #009de4, 0px 10px 15px rgba(0, 0, 0, 0.2);
    font-size: 4em;
    color: #ffffff;
}

.tapado
{
    background: #38a8e1;
    color: #38a8e1;
    float: left;
    height: 50px;
    width: 50px;
    margin: 5px;


    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    line-height: 36px;
    text-align: center;
    transition: all 0.2s ease;/* Animacion para el cambio entre normal y active y para el hover*/
}
image
{
    height: 40px;
    width: 40px;
}
.marcado
{
    background: #000000;
    float: left;
    height: 50px;
    width: 50px;
    margin: 5px;


    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    line-height: 36px;
    text-align: center;
    transition: all 0.2s ease;/* Animacion para el cambio entre normal y active y para el hover*/
}