#zonaJuego
{
    margin:0;
    padding: 0;
    width: auto;
    height: auto;
}
#menu
{
    margin-top: 100px;
}
#carton
{
    margin: 250px auto;
    background: #38a8e1;
    height: 230px;
    width: 560px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0px 4px #009de4, 0px 10px 15px rgba(0, 0, 0, 0.2);

}
#cabecera
{
    background: #ffffff;
    height: 15%;
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}


#cuerpo
{
    background: #ffffff;
    height: 85%;
    width: 100%;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;


}

.fila
{
    float: left;
    box-sizing: border-box;
   
}
#valor
{
    width: 70px;
}

.casilla
{
    background: #38a8e1;
    float: left;
    height: 50px;
    width: 50px;
    margin: 5px;


    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    line-height: 36px;
    text-align: center;
    transition: all 0.2s ease;/* Animacion para el cambio entre normal y active y para el hover*/
}

#bombo
{
    background: #28b3ff;
    height: 80px;
    width: 80px;
    margin: 0 auto;
    font-size: 4em;
}

.tapado
{
    background: #27da25;
    color: #27da25;
    float: left;
    height: 50px;
    width: 50px;
    margin: 5px;


    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    line-height: 36px;
    text-align: center;
    transition: all 0.2s ease;/* Animacion para el cambio entre normal y active y para el hover*/
}
.marcado
{
    background: #000000;
    float: left;
    height: 50px;
    width: 50px;
    margin: 5px;


    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    line-height: 36px;
    text-align: center;
    transition: all 0.2s ease;/* Animacion para el cambio entre normal y active y para el hover*/
}